.wrapper_feedback {
    margin: 0;
    padding: 10px 0;
}
.list_feedback {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}
.item_list_feedback {
    color: black;
}
.item_list_feedback::first-letter {
    text-transform: capitalize;
}